<div style="margin-top: 10px"><h3>Search results '<%=key%>'</h3></div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<%for (var i = 0; i <book.length; i++) {%>
<div class="media"><a href="#" class="pull-left"><img src=<%=book[i]["bookImage"][0]%> height="160" width="120" style="margin-right: 20px" class="media-object"/></a>
    <div class="media-body">
        <article style="height: 150px; ">

            <h4 style="font-size: 22px; color: #555" class="media-heading"><a style="font-size: 22px; color: #555" class="media-heading" href="/details?id=<%=book[i]["_id"]%>"><%=book[i]["bookTitle"][0]%></a></h4>
            <p style="font-size: 10px; margin-left: 0px">By:<%=book[i]["bookAuthor"][0]%></p>
            <p style="font-size: 14px"><%= book[i]["bookDescription"][0]%>... </p>
        </article>
    </div>
</div>

<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 30px"></div>
<%}%>

<div class="col-sm-12">
    <div id="kkpager" style="margin-top: 30px; margin-bottom: 20px" ></div>
</div>

<script type="text/javascript">


    function getParameter(name) {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return unescape(r[2]); return null;
    }

    //init
    $(function(){
        var totalPage;
        var totalRecords;
        var search = getParameter('searchbook');

        //window.alert(search);

       $.ajax({
            type: 'get',
            url: 'http://127.0.0.1:3000/count',
            async: false,
            data: {searchbook: search},
            success: function (data) {

                var pages = JSON.parse(data);

                //window.alert(pages);

                //window.alert(pages['counts']);

                totalRecords = pages['counts'];
                if (parseInt(pages['counts']) % 10 == 0) {
                    totalPage = parseInt(pages['counts']) / 10;
                } else {

                    totalPage = parseInt(pages['counts']) / 10 + 1;




                /*var pages = JSON.parse(data);
                //window.alert(data);
                totalRecords = pages['number'];
                // window.alert(totalRecords);
                if (pages['number'] % 10 ==0) {
                    totalPage = pages['number'] / 10;
                } else {
                    totalPage = pages['number'] / 10 + 1;*/
                }

            }
        })

        var pageNo = getParameter('pno');
        if(!pageNo){
            pageNo = 1;
        }
        //生成分页
        //有些参数是可选的，比如lang，若不传有默认值
        kkpager.generPageHtml({
            pno : pageNo,
            //总页码
            total : totalPage,
            //总数据条数
            totalRecords : totalRecords,
            //链接前部
            hrefFormer : 'search',
            //链接尾部
            hrefLatter : '',
            getLink : function(n){
                return this.hrefFormer + this.hrefLatter + "?pno="+n + "&searchbook=" + search;
            }
            /*
             ,lang				: {
             firstPageText			: '首页',
             firstPageTipText		: '首页',
             lastPageText			: '尾页',
             lastPageTipText			: '尾页',
             prePageText				: '上一页',
             prePageTipText			: '上一页',
             nextPageText			: '下一页',
             nextPageTipText			: '下一页',
             totalPageBeforeText		: '共',
             totalPageAfterText		: '页',
             currPageBeforeText		: '当前第',
             currPageAfterText		: '页',
             totalInfoSplitStr		: '/',
             totalRecordsBeforeText	: '共',
             totalRecordsAfterText	: '条数据',
             gopageBeforeText		: '&nbsp;转到',
             gopageButtonOkText		: '确定',
             gopageAfterText			: '页',
             buttonTipBeforeText		: '第',
             buttonTipAfterText		: '页'
             }*/

            //,
            //mode : 'click',//默认值是link，可选link或者click
            //click : function(n){
            //	this.selectPage(n);
            //  return false;
            //}
        });
    });
</script>

</div>
