<!--
Created by maweiyi on 12/11/15.



-->
<style>
    h1, h6 {
        color: #2A3744;
        font-size: 24px;
    }
    .media-body dl dt {
        float: left;
        padding: 10px 0px 13px;
        width: 100px;
    }
    .media-body dl dd {
        margin-left: 30px;
        padding: 10px 0px 13px;
        height: auto;
    }
    .entry-content {
        color: #2A3744;
        font-size: 14px;
    }
    h3 {
        font-size: 16px;
        margin: 15px 0px;
        font-weight: bold;
        color: #2A3744;
    }
    p {
        margin: 0px 0px 10px;
    }
    .download-links a {
        padding: 0px 20px;
        margin-right: 5px;
        color: #FFF;
        display: inline-block;
        text-align: center;
        background-color: #FF4629;
        line-height: 30px;
        height: 30px;
    }
    ul.related_post {
        display: inline-block;
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    ul.related_post li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 165px;
        margin: 15px 17px 15px 0px;
        padding: 0px;
        background: transparent none repeat scroll 0% 0%;
    }
    ul.related_post li a {
        position: relative;
        display: block;
        font-size: 14px;
        line-height: 1.6em;
        text-decoration: none;
        margin-bottom: 5px;
        text-indent: 0px;
    }
    ul.related_post li img {
        display: block;
        width: 165px;
        height: 210px;
        max-width: 100%;
        margin: 0px;
        padding: 0px;
        background: transparent none repeat scroll 0% 0%;
        border: medium none;
        border-radius: 3px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    }
    ul.related_post li a {
        position: relative;
        display: block;
        font-size: 14px;
        line-height: 1.6em;
        text-decoration: none;
        margin-bottom: 5px;
        text-indent: 0px;
    }
    ul.related_post li a {
        position: relative;
        display: block;
        font-size: 14px;
        line-height: 1.6em;
        text-decoration: none;
        margin-bottom: 5px;
        text-indent: 0px;
    }
</style>
<h1><%=book["bookTitle"][0]%></h1>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 20px"></div>
<div>
    <div class="media"><a href="#" class="pull-left"><img src=<%=book["bookImage"][0]%> height="353px" width="270px" style="margin-right: 20px; margin-top:15px" class="media-object"/></a>
        <div class="media-body">
            <dl style="margin-top: 15px">
                <dt>Author:</dt>
                <dd><%=book["bookAuthor"][0]%></dd>
                <dt>Isbn:</dt>
                <dd><%=book["bookIsbn"][0]%></dd>
                <dt>Year:</dt>
                <dd><%=book["bookYear"][0]%></dd>
                <dt>Pages:</dt>
                <dd><%=book["bookPages"][0]%></dd>
                <dt>Languages:</dt>
                <dd><%=book["bookLanguage"][0]%></dd>
                <dt>File size:</dt>
                <dd><%=book["bookFileSiz"][0]%></dd>
                <dt>File format:</dt>
                <dd>PDF</dd>
                <dt>Category:</dt>
                <dd><%=book["bookCategory"][0]%></dd>
            </dl>
        </div>
    </div>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 10px"></div>
<div class="entity-content">
    <h3>Book Description:</h3>
    <p><%=book["bookDescription"][0]%></p>
</div>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 10px"></div><span style="margin-top: 10px" class="download-links"><a target="_blank" href='<%=book["bookDownloadUrl"][0]%>' style="margin-top: 10px">Download PDF (<%=book["bookFileSiz"][0]%>)</a></span>
<div style="height: 1px; width: 100%; background: #DCDCDC; overflow: hidden; margin-top: 10px"></div>
